/*Back To Top*/

#myBtn {
    height: 56px;
    width: 56px;
    display: none;
    position: fixed;
    bottom: 18px;
    left: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #A06056;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    transition: 1s;
    opacity: 0.8;
}

#myBtn:hover {
    background-color: #623b35;
    opacity: 1;
    padding-top: 3px;
}
